<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>
            WELCOME
            <a href="signup">click to sign up</a>
            <a href="signin">click to sign in</a>
        </h1>
    </body>
</html>